@charset "UTF-8";

body{
    background-color: rgb(44, 58, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(0, 0, 0);
    background-color: rgb(28, 111, 185);
}
h2{
    color: rgb(214, 83, 17);
}
p{
    text-align: justify;
}
a{
    color: rgb(221, 16, 50);
}
